<div class="visa-container">
    <div class="visa-header d-flex">
        <span class="ti-arrow-left" ng-click="setStep('step7')"></span>
        <h3 class="ml-3">Enter security code</h3>
    </div>
    <div class="visa-body">
        <h2>Enter verification code</h2>
        <span>We've sent a text message to</span>
        <p>{{phoneNumber}}</p>
        <br>
        <div class="form-group overview">
            <input type="number" class="form-control" id="digitalCode" aria-describedby="emailHelp" ng-model="digitalCode" placeholder="Enter 4-degit code here">
        </div>
        <p>Didn't receive a code?<a ng-click="resendVerificationCode()" style="cursor:pointer;"> Resend</a></p>
        <p>Entered the wrong phone number?<a ng-click="setStep('step7')" style="color: green;cursor:pointer;" class="text-decoration-underline"> Change</a></p>
        <div class="alert alert-success" role="alert" ng-show="msg">
            <strong>{{msg}}</strong>
        </div>
        <br>
        <div class="alert alert-danger" role="alert" ng-show="error">
            <strong>{{error}}</strong>
        </div>
        <br>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary btn-lg" ng-click="setStep('step9')">Skip for now</button>
            <button type="button" class="btn btn-success btn-lg" ng-click="checkVerification(digitalCode)">Next</button>
        </div>
    </div>
</div>